.header{
    margin-bottom: 15px;
}
.header .row{
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    border-bottom: 1px solid #edf1f2;
}
.header .title{
    display: inline-block ;
    font-weight: 700;
    font-size: 14px;
    color: #07111b;
    text-align: left;
}
.header .content{
    display: inline-block;
}
.header .content .item{
    margin:0 10px; /* 将默认的外边距去掉 */
    cursor: pointer ;
    display: inline-block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
}

.header .content .activite{
    background: rgba(242,13,13,.06);
    border-radius: 6px;
    font-weight: 700;
    color: #f20d0d;
}

.header .content .item:hover{
    color: #f20d0d;
}